.cont-icons{
    display: flex;
    justify-content: space-between;
    width: 15%;
    margin: 0 auto;
    margin-top: 50px;
}
.facebook{
    cursor: pointer;
    font-size: 35px;
    color: #3b5998;
}
.instagram{
    cursor: pointer;
    font-size: 35px;
    color: #f09433; 
   
   
}
.youtube{
    cursor: pointer;
    font-size: 35px;
    color: #c4302b;
}
.twitter{
    cursor: pointer;
    font-size: 35px;
}
@media(max-width: 480px){
    .cont-icons{
        width: 50%;
    }
}